[v-cloak] {
    display: none;
}

*,
.v-application *,
.v-application .title,
.v-application .display-1,
.v-application .headline,
.v-application .body-1 {
    font-family: 'Cairo', sans-serif !important;
}

.center-icon div {
    justify-content: center;
}

.media-item:hover * {
    color: black !important;
}

.v-parallax__content {
    padding: 0 !important;
}

.larger {
    font-size: x-large;
}

.v-btn {
    text-transform: none;
}

.application--is-rtl .v-list-item__icon:first-child {
    margin-right: 0;
    margin-left: 32px;
}