[v-cloak] {
    display: none;
}

*,
.title,
.display-1,
.headline  {
    font-family: 'Cairo',sans-serif!important;
}



.center-icon div{
    justify-content: center;
}

.media-item:hover * {
    color: black !important;
}

.v-parallax__content {
    padding:0 !important;
}

.larger {
    font-size: x-large;
}

.forceRTL { 
    direction: rtl;
    text-align: right;
}

.v-btn {
    text-transform: none; 
}